# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Docker
*.pid
*.log

# IDEs
.idea/
.vscode/

# macOS
.DS_Store

# Python egg
*.egg-info/
dist/
build/